@import url("./minireset.css");

html {
}

body {
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 50px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  color: #4e4e4e;
}

.box {
  border: 1px solid #c4c4c4;
  text-align: center;
}

.card-link-wide {
  width: 502px;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  padding: 20px 28px;
}
.card-link-wide .wide-title {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-bottom: 42px;
  width: 200px;
}
.card-link-wide .wide-title h1 {
  line-height: 1;
}
.card-link-wide p {
  margin-top: 13px;
}

.card-link-normal {
  width: 243px;
  padding: 14px 0;
  font-size: 18px;
}

.bottom {
  margin-top: 16px;
  width: 502px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
