<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>select 컴포넌트</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/main.js" defer></script>
  </head>
  <body>
    <div class="select-components">
      <div class="select-wrapper" role="listbox" aria-label="언어 선택">
        <button
          class="btn-select button-none"
          aria-haspopup="listbox"
          aria-expanded="false"
        >
          언어
        </button>
        <ul class="select-list" aria-hidden="true">
          <li role="option" aria-selected="true">
            <button type="button" class="option-button button-none">
              한국어
            </button>
          </li>
          <li role="option" lang="en">
            <button type="button" class="option-button button-none">
              English
            </button>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
