<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0" />
    <title>select 컴포넌트</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style.js" />
  </head>
  <body>
    <div class="select-components">
      <article class="select-wrapper">
        <button class="btn-select button-none" role="select" lang="en">
          <!-- Language -->
          언어
        </button>
        <ul class="select-list">
          <li role="option">
            <button type="button" class="option-button button-none checked">
              한국어
            </button>
          </li>
          <li role="option" lang="en">
            <button type="button" class="option-button button-none">
              English
            </button>
          </li>
        </ul>
      </article>
    </div>
  </body>
</html>
